
    body{
        background-color:palevioletred;
    
    }
    h1{
        color:crimson;
        font-size: large;
        font-style: unset;
        text-align:center;
        padding-top:25px;
    }
    .blue{color:blue}
    .red{color:red}
